<footer class="border-t py-8 border-taupe-600 bg-taupe-900 text-taupe-400">

  <div class="max-w-7xl mx-auto px-6 text-center text-sm">

    © 2026 Fluffy Goat Coffee. All Rights Reserved.

  </div>

</footer>